<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  Data Binding {{ title }}!
  </h1>
 </div>
 <h4> Scenario 1</h4>
 <app-scenario1component1></app-scenario1component1>
 <h4> Scenario 2</h4>
 <app-scenario2usertext></app-scenario2usertext>
 <h4> Scenario 3</h4>
 <app-scenario3parent></app-scenario3parent>
 <h4> Scenario 4</h4>
 <app-scenario4parent></app-scenario4parent>
 <h4> Scenario 5</h4>
 <app-scenario5grandpa></app-scenario5grandpa>
 <h4> Scenario 6</h4>
 <app-scenario6parent></app-scenario6parent>

 <router-outlet></router-outlet>

 